@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
  --primary-color: #172755;
  --secondary-color: #8794ba;
  --pink: #ef2a82;
  --card-color: #0f1f4b;
  --font-family: "Roboto", sans-serif;
  --background: #eff2ff;
  --line: #2a407c;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  font-family: var(--font-family);
  background-color: var(--background);
  position: relative;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.2rem;
  background-color: var(--primary-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--pink);
  border-radius: 1rem;
}

.app .home {
  height: 103vh;
  background-color: var(--pink);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 78%, 0 100%);
}
.app .home .main-container {
  position: relative;
  height: 100vh;
  background-color: var(--primary-color);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 78%, 0 100%);
  padding: 2rem 5rem;
}
.app .home .main-container .background-images .background {
  position: absolute;
  top: 0;
  left: 0;
}
.app .home .main-container .background-images .background2 {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
}
.app .home nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.app .home nav .brand-container .toggle {
  display: none;
}
.app .home nav .menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.app .home nav .menu-container ul {
  display: flex;
  align-items: center;
  gap: 6rem;
  list-style: none;
}
.app .home nav .menu-container ul li a {
  text-decoration: none;
  color: var(--secondary-color);
}
.app .home nav .menu-container .buttons-container {
  display: flex;
  gap: 1rem;
}
.app .home nav .menu-container .buttons-container .btn {
  background: transparent;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  border: 1px solid var(--line);
  font-family: var(--font-family);
  color: var(--secondary-color);
}
.app .home nav .menu-container .buttons-container .btn:nth-child(1) {
  border: none;
}
.app .home .hero-container {
  height: 100%;
}
.app .home .hero-container .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  height: 90%;
  gap: 2rem;
  justify-content: center;
}
.app .home .hero-container .content .title-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.app .home .hero-container .content .title-image {
  display: none;
}
.app .home .hero-container .content .title {
  color: #fff;
  font-size: 3.1rem;
  margin: 0;
}
.app .home .hero-container .content .description {
  color: var(--secondary-color);
  font-size: 1.1rem;
}
.app .home .hero-container .content .cta-btn {
  color: #fff;
  background-color: var(--pink);
  padding: 0.7rem 3.4rem;
  border-radius: 2rem;
  border: none;
  font-family: var(--font-family);
}

.home-images {
  position: absolute;
  top: 15vh;
  left: 54%;
}
.home-images .image-container {
  position: relative;
  width: 45vw;
  height: 75vh;
}
.home-images .image-container .wrapper {
  background: url("/assets/home1.svg") no-repeat center center/cover;
  width: 114%;
  height: 117%;
}
.home-images .image-container .image2 {
  position: absolute;
  top: 18vh;
  left: -5vw;
}
.home-images .image-container .image2 img {
  max-inline-size: 100%;
}/*# sourceMappingURL=index.css.map */